@use "tags";
@use "print";
@use "stats";

$background-clour: #151515;

body {
  background: $background-clour;
  color: navajowhite;
  max-width: 850px;
  margin: auto;
  padding: 0 16px;
  scrollbar-color: gray #151515;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 0.66vw;
  background-color: $background-clour;

  &-thumb {
    background-color: gray;
    border-radius: 5px;
  }
}

a {
  color: gold;

  &:visited {
    color: darkgoldenrod;
  }
}

h1 {
  border-style: solid;
  border-width: 0 0 2px;
  text-align: center;
}

h2 {
  color: tomato;
}

footer {
  margin: 3em;
  text-align: center;
}

img {
  max-width: 90%;
  max-height: 400px;
  margin: auto;
  display: block;
}

code {
  overflow-wrap: break-word;
  color: lime;
}

@media (pointer: coarse) {
  li > a {
    display: inline-block;
    padding: 0.2em 0;
  }
}

.article-list {
  @media (min-width: 55em) {
    column-count: 2;
  }

  @media (min-width: 100em) {
    column-count: 3;
  }
}

nav,
footer {
  text-align: center;
  clear: both;
  border-radius: 20px;
  margin: auto;

  li {
    display: inline-block;
    list-style: none;
    border-radius: 10px;
    padding: 0.5em;
    max-width: 7em;
  }

  ul {
    padding: 0;
    margin: 0.5em;
  }
}
