<div class="columns">
  <div class="column" style="border-right: 1px solid #dbdbdb; padding: 0px;">
    <i class="fas fa-concierge-bell"></i>
    <p class="has-text-weight-bold">Servings</p>
    {{ .Params.Servings | default "---"}} Servings
  </div>
  <div class="column" style="border-right: 1px solid #dbdbdb; padding: 0px;">
    <i class="fas fa-hourglass-half"></i>
    <p class="has-text-weight-bold">Prep time</p>
    {{ .Params.prep_time | default "---"}}
    {{ .Params.prep_increment | default "Minutes" | humanize }}
  </div>
  <div class="column" style="border-right: 1px solid #dbdbdb; padding: 0px;">
    <i class="fas fa-temperature-high"></i>
    <p class="has-text-weight-bold is-size-6">
      {{- if (default .Params.Cook true) -}}
        Cooking Time
      {{- else -}}
        Cooling Time
      {{- end -}}
    </p>
    {{ .Params.Cook_time | default "---"}}
    {{ .Params.cook_increment | default "Minutes" | humanize }}
  </div>
</div>
